In [1]:
import pandas as pd
#pd.set_option('display.max_rows', None)
import geopandas as gpd
import matplotlib.pyplot as plt
import matplotlib.colors as colors
import matplotlib.cm as cm
from matplotlib import path
import os
import cartopy.crs as ccrs
import cartopy.feature as cfeature
import cartopy
import numpy as np
import netCDF4 as nc
np.set_printoptions(threshold=100000)
from shapely.geometry import Polygon, Point, MultiPoint
from shapely.ops import cascaded_union
from datetime import datetime, timedelta
import time
import warnings
import datetime
import math
from scipy.ndimage.interpolation import shift
import shapely.wkt
from scipy.stats import pearsonr,spearmanr,kendalltau, linregress
from scipy.optimize import curve_fit 

warnings.filterwarnings('ignore')
import seaborn as sns
sns.set(font_scale=1.4) 
from my_functions import sat_vap_press, vap_press, hot_dry_windy, haines
from os.path import exists

from sklearn.preprocessing import OneHotEncoder

# the goal of this file should be to preprocess the whole yearly database into the form with different resource types as columns

In [4]:
types = {'crews': ['Crew, Camp', 'Crew, Type 1', 'Crew, Type 2', 'Crew, Type 2IA'],
        'engines': ['Engine, Type 1','Engine, Type 2','Engine, Type 3',
                     'Engine, Type 4','Engine, Type 5','Engine, Type 6','Engine, Type 7'],
        'air': ['Air Attack', 'Airtanker, Type 1', 'Airtanker, Type 2', 'Airtanker, Type 3', 'Airtanker, VLAT', 'Fixed Wing, ASM', 
               'Fixed Wing, Air Tactical', 'Fixed Wing, LEAD', 'Fixed Wing, Recon', 'Helicopter, Type 1', 'Helicopter, Type 2', 
               'Helicopter, Type 3','Single Engine Airtanker'],
        'construction': ['Tractor Plow, Type 1','Tractor Plow, Type 2','Tractor Plow, Type 3','Tractor Plow, Type 4',
                         'Tractor Plow, Type 5','Tractor Plow, Type 6', 'Dozer', 'Masticator'],
        'overhead':['Overhead']}

resources_file='../YYYY_RESOURCES.xlsx'

years = [2019,2020,2021]
#years=[2021]

for jj in range(len(years)):
    
   
    resources_all = pd.read_excel(resources_file.replace('YYYY', str(years[jj]))).iloc[:,0:9]
    resources_all.columns = ['INC209R_IDENTIFIER','REPORT_FROM_DATE','REPORT_TO_DATE','PCT_CONTAINED_COMPLETED',
                             'INCIDENT_NAME', 'IRWIN_IDENTIFIER','CODE_NAME','RESOURCE_QUANTITY','RESOURCE_PERSONNEL']
    
    #print(resources_all)
    
    ohe = OneHotEncoder()
    transformed = ohe.fit_transform(resources_all[['CODE_NAME']])
    resources_all[ohe.categories_[0]] = transformed.toarray()
    print(resources_all.columns.values)
    
    #make the data frame of the stuff we want to save, we will add to it
    resources_save = resources_all[['INC209R_IDENTIFIER','REPORT_FROM_DATE','REPORT_TO_DATE','PCT_CONTAINED_COMPLETED',
                             'INCIDENT_NAME', 'IRWIN_IDENTIFIER','CODE_NAME','RESOURCE_QUANTITY','RESOURCE_PERSONNEL']]
    
    #do the multiplication of the resource and personnal numbers, before we add by subtype
    resources_quantity = resources_all[types['crews']+types['engines']+types['air']+types['construction']+types['overhead']].multiply(resources_all['RESOURCE_QUANTITY'], axis=0)
    resources_personnel = resources_all[types['crews']+types['engines']+types['air']+types['construction']+types['overhead']].multiply(resources_all['RESOURCE_PERSONNEL'], axis=0)

    
    #crews
    resources_save['crew_quantity'] = resources_quantity[types['crews']].sum(axis=1)
    resources_save['crew_personnel'] = resources_personnel[types['crews']].sum(axis=1)

    #engines 
    resources_save['engine_quantity'] = resources_quantity[types['engines']].sum(axis=1)
    resources_save['engine_personnel'] = resources_personnel[types['engines']].sum(axis=1)
    
    #air
    resources_save['air_quantity'] = resources_quantity[types['air']].sum(axis=1)
    resources_save['air_personnel'] = resources_personnel[types['air']].sum(axis=1)

    #construction 
    resources_save['construction_quantity'] = resources_quantity[types['construction']].sum(axis=1)
    resources_save['construction_personnel'] = resources_personnel[types['construction']].sum(axis=1)
    
    #overhead
    resources_save['overhead_personnel'] = resources_personnel[types['overhead']].sum(axis=1)



    print(resources_save)
    
    resources_save.to_excel('../'+str(years[jj])+'+_PROCESSED_RESOURCES.xlsx') #daily averages

['INC209R_IDENTIFIER' 'REPORT_FROM_DATE' 'REPORT_TO_DATE'
 'PCT_CONTAINED_COMPLETED' 'INCIDENT_NAME' 'IRWIN_IDENTIFIER' 'CODE_NAME'
 'RESOURCE_QUANTITY' 'RESOURCE_PERSONNEL' 'ALS Ambulance' 'Air Attack'
 'Airtanker, Type 1' 'Airtanker, Type 2' 'Airtanker, Type 3'
 'Airtanker, VLAT' 'Boat, Transportation' 'Crash Rescue (Aircraft)'
 'Crew, Camp' 'Crew, Type 1' 'Crew, Type 2' 'Crew, Type 2IA' 'Dozer'
 'Engine, Type 1' 'Engine, Type 2' 'Engine, Type 3' 'Engine, Type 4'
 'Engine, Type 5' 'Engine, Type 6' 'Engine, Type 7' 'Fixed Wing, ASM'
 'Fixed Wing, Air Tactical' 'Fixed Wing, LEAD' 'Fixed Wing, Recon'
 'Food Dispensing Unit' 'Hazardous Materials Unit' 'Heavy Rescue Unit'
 'Helicopter, Type 1' 'Helicopter, Type 2' 'Helicopter, Type 3'
 'Illumination Unit (Lighting)' 'Masticator' 'Medic Squad'
 'Mobile Communications Center' 'Mobile Kitchen Unit' 'Overhead'
 'Rescue Unit' 'Rescue/Medical Unit' 'Single Engine Airtanker' 'Skidgine'
 'Technical Rescue Team' 'Tender, Potable Water' 'Tender, Water (Support)'
 'Tender, Water (Tactical)' 'Track Vehicle' 'Tractor Plow, Type 1'
 'Tractor Plow, Type 2' 'Tractor Plow, Type 3' 'Tractor Plow, Type 4'
 'Tractor Plow, Type 5' 'Tractor Plow, Type 6'
 'Transportation, Bus, Coach' 'Truck, Hazmat' 'Urban SAR Team'
 'Water Rescue Team']
       INC209R_IDENTIFIER     REPORT_FROM_DATE       REPORT_TO_DATE  \
0                10662168  02/14/2019 07:00:00  02/14/2019 13:45:00
1                10662168  02/14/2019 07:00:00  02/14/2019 13:45:00
2                10662157  02/13/2019 15:00:00  02/15/2019 04:30:00
3                10662180  02/13/2019 16:45:00  02/13/2019 19:00:00
4                10662180  02/13/2019 16:45:00  02/13/2019 19:00:00
...                   ...                  ...                  ...
51753            10805667  09/02/2019 19:30:00  09/03/2019 19:00:00
51754            10805667  09/02/2019 19:30:00  09/03/2019 19:00:00
51755            10806286  08/11/2019 08:00:00  08/11/2019 19:00:00
51756            10806266  08/09/2019 18:00:00  08/09/2019 20:30:00
51757            10806276  08/10/2019 07:00:00  08/10/2019 18:30:00

       PCT_CONTAINED_COMPLETED  INCIDENT_NAME  \
0                          0.0            C34
1                          0.0            C34
2                        100.0            C34
3                        100.0           2161
4                        100.0           2161
...                        ...            ...
51753                     55.0        204 Cow
51754                     55.0        204 Cow
51755                    100.0  Chimney Creek
51756                      0.0  Chimney Creek
51757                    100.0  Chimney Creek

                           IRWIN_IDENTIFIER           CODE_NAME  \
0      1DFCEE5C-8BE6-43BA-B3BB-12E8AC984221      Engine, Type 6
1      1DFCEE5C-8BE6-43BA-B3BB-12E8AC984221            Overhead
2      1DFCEE5C-8BE6-43BA-B3BB-12E8AC984221            Overhead
3      7D6CB9AB-F9A3-48B7-B0D7-ADEAD4D70E5F               Dozer
4      7D6CB9AB-F9A3-48B7-B0D7-ADEAD4D70E5F      Engine, Type 6
...                                     ...                 ...
51753  6FB0FEFD-A96D-4F23-BD34-60936BFCD93F  Helicopter, Type 1
51754  6FB0FEFD-A96D-4F23-BD34-60936BFCD93F        Crew, Type 2
51755  DC5C7534-44C8-497F-AB23-35F7E2194F23            Overhead
51756  DC5C7534-44C8-497F-AB23-35F7E2194F23            Overhead
51757  DC5C7534-44C8-497F-AB23-35F7E2194F23            Overhead

       RESOURCE_QUANTITY  RESOURCE_PERSONNEL  crew_quantity  crew_personnel  \
0                    1.0                 3.0            0.0             0.0
1                    NaN                 3.0            0.0             0.0
2                    NaN                 2.0            0.0             0.0
3                    1.0                 2.0            0.0             0.0
4                    1.0                 2.0            0.0             0.0
...                  ...                 ...            ...             ...
51753                6.0                46.0            0.0             0.0
51754                1.0                20.0            1.0            20.0
51755                NaN                 1.0            0.0             0.0
51756                NaN                 6.0            0.0             0.0
51757                NaN                 2.0            0.0             0.0

       engine_quantity  engine_personnel  air_quantity  air_personnel  \
0                  1.0               3.0           0.0            0.0
1                  0.0               0.0           0.0            0.0
2                  0.0               0.0           0.0            0.0
3                  0.0               0.0           0.0            0.0
4                  1.0               2.0           0.0            0.0
...                ...               ...           ...            ...
51753              0.0               0.0           6.0           46.0
51754              0.0               0.0           0.0            0.0
51755              0.0               0.0           0.0            0.0
51756              0.0               0.0           0.0            0.0
51757              0.0               0.0           0.0            0.0

       construction_quantity  construction_personnel  overhead_personnel
0                        0.0                     0.0                 0.0
1                        0.0                     0.0                 3.0
2                        0.0                     0.0                 2.0
3                        1.0                     2.0                 0.0
4                        0.0                     0.0                 0.0
...                      ...                     ...                 ...
51753                    0.0                     0.0                 0.0
51754                    0.0                     0.0                 0.0
51755                    0.0                     0.0                 1.0
51756                    0.0                     0.0                 6.0
51757                    0.0                     0.0                 2.0

[51758 rows x 18 columns]
['INC209R_IDENTIFIER' 'REPORT_FROM_DATE' 'REPORT_TO_DATE'
 'PCT_CONTAINED_COMPLETED' 'INCIDENT_NAME' 'IRWIN_IDENTIFIER' 'CODE_NAME'
 'RESOURCE_QUANTITY' 'RESOURCE_PERSONNEL' 'ALS Ambulance' 'ASM'
 'Aerial Apparatus' 'Air Attack' 'Air Attack Platform' 'Airtanker, Type 1'
 'Airtanker, Type 2' 'Airtanker, Type 3' 'Airtanker, VLAT' 'Ambulance'
 'Boat, Fire' 'Boat, Rescue' 'Boat, Transportation'
 'Crash Rescue (Aircraft)' 'Crew, Camp' 'Crew, Type 1' 'Crew, Type 2'
 'Crew, Type 2IA' 'Decontamination Unit' 'Dozer' 'Engine, Type 1'
 'Engine, Type 2' 'Engine, Type 3' 'Engine, Type 4' 'Engine, Type 5'
 'Engine, Type 6' 'Engine, Type 7' 'Excavator' 'Feller Buncher'
 'Fixed Wing, ASM' 'Fixed Wing, Air Tactical' 'Fixed Wing, LEAD'
 'Fixed Wing, Recon' 'Food Dispensing Unit' 'GIS Unit' 'Heavy (Type 1)'
 'Helicopter, Type 1' 'Helicopter, Type 2' 'Helicopter, Type 3'
 'Laundry, Mobile' 'Lead Plane' 'Masticator' 'Medic Squad'
 'Mobile Communications Center' 'Mobile Kitchen Unit' 'Overhead'
 'Pumper Cat' 'Reconnaissance Aircraft' 'Rescue Unit'
 'Rescue/Medical Unit' 'Salvage Unit' 'Shower, Mobile'
 'Single Engine Airtanker' 'Skidder' 'Skidgine' 'Support (All Types)'
 'Tactical (All Types)' 'Technical Rescue Team' 'Tender, Potable Water'
 'Tender, Water (Support)' 'Tender, Water (Tactical)' 'Track Vehicle'
 'Tractor Plow, Type 1' 'Tractor Plow, Type 2' 'Tractor Plow, Type 3'
 'Tractor Plow, Type 4' 'Tractor Plow, Type 5' 'Tractor Plow, Type 6'
 'Transportation, Bus, Coach' 'Type 3 Multi-engine' 'Type 3 Single engine'
 'VLAT']
        INC209R_IDENTIFIER     REPORT_FROM_DATE       REPORT_TO_DATE  \
0                 11683744  01/10/2020 08:00:00  01/12/2020 08:00:00
1                 11683718  01/08/2020 12:30:00  01/08/2020 21:15:00
2                 11683755  01/10/2020 09:00:00  01/11/2020 09:00:00
3                 11683755  01/10/2020 09:00:00  01/11/2020 09:00:00
4                 11683744  01/10/2020 08:00:00  01/12/2020 08:00:00
...                    ...                  ...                  ...
142648            11981127  12/28/2020 11:30:00  12/29/2020 10:15:00
142649            11981206  12/24/2020 00:01:00  12/24/2020 15:10:00
142650            11981206  12/24/2020 00:01:00  12/24/2020 15:10:00
142651            11981206  12/24/2020 00:01:00  12/24/2020 15:10:00
142652            11981206  12/24/2020 00:01:00  12/24/2020 15:10:00

        PCT_CONTAINED_COMPLETED  INCIDENT_NAME  \
0                         100.0  Dogwood Trail
1                          90.0  Dogwood Trail
2                         100.0  Dogwood Trail
3                         100.0  Dogwood Trail
4                         100.0  Dogwood Trail
...                         ...            ...
142648                     50.0     FOOT PRINT
142649                    100.0    SMALL PINES
142650                    100.0    SMALL PINES
142651                    100.0    SMALL PINES
142652                    100.0    SMALL PINES

                            IRWIN_IDENTIFIER       CODE_NAME  \
0       AA302C33-2DC5-44D0-9A55-19A133EF04B3  Engine, Type 6
1       AA302C33-2DC5-44D0-9A55-19A133EF04B3           Dozer
2       AA302C33-2DC5-44D0-9A55-19A133EF04B3  Engine, Type 6
3       AA302C33-2DC5-44D0-9A55-19A133EF04B3           Dozer
4       AA302C33-2DC5-44D0-9A55-19A133EF04B3        Overhead
...                                      ...             ...
142648  600E56E3-B739-415E-A997-BD7400905C95        Overhead
142649  4082F500-5528-4326-9C42-2309350E7A1D        Overhead
142650  4082F500-5528-4326-9C42-2309350E7A1D           Dozer
142651  4082F500-5528-4326-9C42-2309350E7A1D  Engine, Type 6
142652  4082F500-5528-4326-9C42-2309350E7A1D    Crew, Type 1

        RESOURCE_QUANTITY  RESOURCE_PERSONNEL  crew_quantity  crew_personnel  \
0                     2.0                   2            0.0             0.0
1                     2.0                   2            0.0             0.0
2                     2.0                   2            0.0             0.0
3                     2.0                   2            0.0             0.0
4                     NaN                   0            0.0             0.0
...                   ...                 ...            ...             ...
142648                NaN                   5            0.0             0.0
142649                NaN                   0            0.0             0.0
142650                1.0                   1            0.0             0.0
142651                1.0                   1            0.0             0.0
142652                1.0                   1            1.0             1.0

        engine_quantity  engine_personnel  air_quantity  air_personnel  \
0                   2.0               2.0           0.0            0.0
1                   0.0               0.0           0.0            0.0
2                   2.0               2.0           0.0            0.0
3                   0.0               0.0           0.0            0.0
4                   0.0               0.0           0.0            0.0
...                 ...               ...           ...            ...
142648              0.0               0.0           0.0            0.0
142649              0.0               0.0           0.0            0.0
142650              0.0               0.0           0.0            0.0
142651              1.0               1.0           0.0            0.0
142652              0.0               0.0           0.0            0.0

        construction_quantity  construction_personnel  overhead_personnel
0                         0.0                     0.0                 0.0
1                         2.0                     2.0                 0.0
2                         0.0                     0.0                 0.0
3                         2.0                     2.0                 0.0
4                         0.0                     0.0                 0.0
...                       ...                     ...                 ...
142648                    0.0                     0.0                 5.0
142649                    0.0                     0.0                 0.0
142650                    1.0                     1.0                 0.0
142651                    0.0                     0.0                 0.0
142652                    0.0                     0.0                 0.0

[142653 rows x 18 columns]

['INC209R_IDENTIFIER' 'REPORT_FROM_DATE' 'REPORT_TO_DATE'
 'PCT_CONTAINED_COMPLETED' 'INCIDENT_NAME' 'IRWIN_IDENTIFIER' 'CODE_NAME'
 'RESOURCE_QUANTITY' 'RESOURCE_PERSONNEL' 'ALS Ambulance' 'ASM'
 'Aerial Apparatus' 'Air Attack' 'Air Attack Platform' 'Airtanker, Type 1'
 'Airtanker, Type 2' 'Airtanker, Type 3' 'Airtanker, VLAT' 'Ambulance'
 'Boat' 'Boat, Fire' 'Boat, Rescue' 'Boat, Transportation'
 'Crash Rescue (Aircraft)' 'Crew, Camp' 'Crew, Type 1' 'Crew, Type 2'
 'Crew, Type 2IA' 'Dozer' 'Engine, Type 1' 'Engine, Type 2'
 'Engine, Type 3' 'Engine, Type 4' 'Engine, Type 5' 'Engine, Type 6'
 'Engine, Type 7' 'Excavator' 'Feller Buncher' 'Fixed Wing, ASM'
 'Fixed Wing, Air Tactical' 'Fixed Wing, LEAD' 'Fixed Wing, Recon'
 'Food Dispensing Unit' 'GIS Unit' 'Heavy (Type 1)' 'Helicopter, Type 1'
 'Helicopter, Type 2' 'Helicopter, Type 3' 'Laundry, Mobile' 'Lead Plane'
 'Masticator' 'Medic Squad' 'Mobile Communications Center'
 'Mobile Kitchen Unit' 'Overhead' 'Pumper Cat' 'Reconnaissance Aircraft'
 'Rescue/Medical Unit' 'Salvage Unit' 'Shower, Mobile'
 'Single Engine Airtanker' 'Skidder' 'Skidgine' 'Support (All Types)'
 'Tactical (All Types)' 'Technical Rescue Team' 'Tender, Potable Water'
 'Tender, Water (Support)' 'Tender, Water (Tactical)' 'Track Vehicle'
 'Tractor Plow, Type 1' 'Tractor Plow, Type 2' 'Tractor Plow, Type 3'
 'Tractor Plow, Type 4' 'Tractor Plow, Type 5' 'Tractor Plow, Type 6'
 'Transportation, Bus, Coach' 'Type 3 Multi-engine' 'Type 3 Single engine'
 'VLAT']
        INC209R_IDENTIFIER     REPORT_FROM_DATE       REPORT_TO_DATE  \
0                 12688664  03/07/2021 18:15:00  03/07/2021 23:15:00
1                 12688664  03/07/2021 18:15:00  03/07/2021 23:15:00
2                 12688678  03/12/2021 08:00:00  03/14/2021 10:00:00
3                 12688678  03/12/2021 08:00:00  03/14/2021 10:00:00
4                 12688678  03/12/2021 08:00:00  03/14/2021 10:00:00
...                    ...                  ...                  ...
167743            13029502  12/15/2021 15:14:00  12/15/2021 23:30:00
167744            13029502  12/15/2021 15:14:00  12/15/2021 23:30:00
167745            13029502  12/15/2021 15:14:00  12/15/2021 23:30:00
167746            13029502  12/15/2021 15:14:00  12/15/2021 23:30:00
167747            13029502  12/15/2021 15:14:00  12/15/2021 23:30:00

        PCT_CONTAINED_COMPLETED    INCIDENT_NAME  \
0                            90    Twin Ponds #2
1                            90    Twin Ponds #2
2                           100    Twin Ponds #2
3                           100    Twin Ponds #2
4                           100    Twin Ponds #2
...                         ...              ...
167743                       75  Stone Hill Fire
167744                       75  Stone Hill Fire
167745                       75  Stone Hill Fire
167746                       75  Stone Hill Fire
167747                       75  Stone Hill Fire

                            IRWIN_IDENTIFIER                 CODE_NAME  \
0       C00AE305-60D5-43C9-9FEC-A4A5D9607F71                     Dozer
1       C00AE305-60D5-43C9-9FEC-A4A5D9607F71                  Overhead
2       C00AE305-60D5-43C9-9FEC-A4A5D9607F71            Engine, Type 6
3       C00AE305-60D5-43C9-9FEC-A4A5D9607F71                     Dozer
4       C00AE305-60D5-43C9-9FEC-A4A5D9607F71                  Overhead
...                                      ...                       ...
167743  4A58BF7F-4EFD-4B8C-972C-96ED2BE8B481                     Dozer
167744  4A58BF7F-4EFD-4B8C-972C-96ED2BE8B481                  Overhead
167745  4A58BF7F-4EFD-4B8C-972C-96ED2BE8B481            Engine, Type 6
167746  4A58BF7F-4EFD-4B8C-972C-96ED2BE8B481                     Dozer
167747  4A58BF7F-4EFD-4B8C-972C-96ED2BE8B481  Tender, Water (Tactical)

        RESOURCE_QUANTITY  RESOURCE_PERSONNEL  crew_quantity  crew_personnel  \
0                     1.0                 1.0            0.0             0.0
1                     NaN                 0.0            0.0             0.0
2                     1.0                 1.0            0.0             0.0
3                     1.0                 1.0            0.0             0.0
4                     NaN                 0.0            0.0             0.0
...                   ...                 ...            ...             ...
167743                1.0                 1.0            0.0             0.0
167744                NaN                 0.0            0.0             0.0
167745               13.0                21.0            0.0             0.0
167746                3.0                 3.0            0.0             0.0
167747                3.0                 4.0            0.0             0.0

        engine_quantity  engine_personnel  air_quantity  air_personnel  \
0                   0.0               0.0           0.0            0.0
1                   0.0               0.0           0.0            0.0
2                   1.0               1.0           0.0            0.0
3                   0.0               0.0           0.0            0.0
4                   0.0               0.0           0.0            0.0
...                 ...               ...           ...            ...
167743              0.0               0.0           0.0            0.0
167744              0.0               0.0           0.0            0.0
167745             13.0              21.0           0.0            0.0
167746              0.0               0.0           0.0            0.0
167747              0.0               0.0           0.0            0.0

        construction_quantity  construction_personnel  overhead_personnel
0                         1.0                     1.0                 0.0
1                         0.0                     0.0                 0.0
2                         0.0                     0.0                 0.0
3                         1.0                     1.0                 0.0
4                         0.0                     0.0                 0.0
...                       ...                     ...                 ...
167743                    1.0                     1.0                 0.0
167744                    0.0                     0.0                 0.0
167745                    0.0                     0.0                 0.0
167746                    3.0                     3.0                 0.0
167747                    0.0                     0.0                 0.0

[167748 rows x 18 columns]

# Development code

In [10]:
#print(resources_all.groupby(by=['REPORT_FROM_DATE', 'REPORT_TO_DATE','CODE_NAME']).sum())
#print(resources_all.pivot(index=['REPORT_FROM_DATE', 'REPORT_TO_DATE','IRWIN_IDENTIFIER'], columns='CODE_NAME'))

In [29]:
resources_sub = resources_all[['','CODE_NAME', 'RESOURCE_QUANTITY', 'RESOURCE_PERSONNEL']]
resources_sub

                       CODE_NAME  RESOURCE_QUANTITY  RESOURCE_PERSONNEL
0                          Dozer                1.0                 1.0
1                       Overhead                NaN                 0.0
2                 Engine, Type 6                1.0                 1.0
3                          Dozer                1.0                 1.0
4                       Overhead                NaN                 0.0
...                          ...                ...                 ...
167743                     Dozer                1.0                 1.0
167744                  Overhead                NaN                 0.0
167745            Engine, Type 6               13.0                21.0
167746                     Dozer                3.0                 3.0
167747  Tender, Water (Tactical)                3.0                 4.0

[167748 rows x 3 columns]

In [39]:
print(types['engines']+['RESOURCE_QUANTITY', 'RESOURCE_PERSONNEL'])

['Engine, Type 1', 'Engine, Type 2', 'Engine, Type 3', 'Engine, Type 4', 'Engine, Type 5', 'Engine, Type 6', 'Engine, Type 7', 'RESOURCE_QUANTITY', 'RESOURCE_PERSONNEL']

In [57]:
resources_quantity = resources_all[types['crews']+types['engines']+types['air']+types['construction']].multiply(resources_all['RESOURCE_QUANTITY'], axis=0)
resources_personnel = resources_all[types['crews']+types['engines']+types['air']+types['construction']].multiply(resources_all['RESOURCE_PERSONNEL'], axis=0)
print(resources_personnel[0:100])

    Crew, Camp  Crew, Type 1  Crew, Type 2  Crew, Type 2IA  Engine, Type 1  \
0          0.0           0.0           0.0             0.0             0.0
1          0.0           0.0           0.0             0.0             0.0
2          0.0           0.0           0.0             0.0             0.0
3          0.0           0.0           0.0             0.0             0.0
4          0.0           0.0           0.0             0.0             0.0
..         ...           ...           ...             ...             ...
95         0.0           0.0           0.0             0.0             0.0
96         0.0           0.0           0.0             0.0             0.0
97         0.0           0.0          20.0             0.0             0.0
98         0.0           0.0           0.0             0.0             0.0
99        10.0           0.0           0.0             0.0             0.0

    Engine, Type 2  Engine, Type 3  Engine, Type 4  Engine, Type 5  \
0              0.0             0.0             0.0             0.0
1              0.0             0.0             0.0             0.0
2              0.0             0.0             0.0             0.0
3              0.0             0.0             0.0             0.0
4              0.0             0.0             0.0             0.0
..             ...             ...             ...             ...
95             0.0             0.0             0.0             0.0
96             0.0             0.0             0.0             0.0
97             0.0             0.0             0.0             0.0
98             0.0             0.0             3.0             0.0
99             0.0             0.0             0.0             0.0

    Engine, Type 6  ...  Helicopter, Type 3  Single Engine Airtanker  \
0              0.0  ...                 0.0                      0.0
1              0.0  ...                 0.0                      0.0
2              1.0  ...                 0.0                      0.0
3              0.0  ...                 0.0                      0.0
4              0.0  ...                 0.0                      0.0
..             ...  ...                 ...                      ...
95             0.0  ...                 0.0                      0.0
96             0.0  ...                 0.0                      0.0
97             0.0  ...                 0.0                      0.0
98             0.0  ...                 0.0                      0.0
99             0.0  ...                 0.0                      0.0

    Tractor Plow, Type 1  Tractor Plow, Type 2  Tractor Plow, Type 3  \
0                    0.0                   0.0                   0.0
1                    0.0                   0.0                   0.0
2                    0.0                   0.0                   0.0
3                    0.0                   0.0                   0.0
4                    0.0                   0.0                   0.0
..                   ...                   ...                   ...
95                   0.0                   0.0                   0.0
96                   0.0                   0.0                   0.0
97                   0.0                   0.0                   0.0
98                   0.0                   0.0                   0.0
99                   0.0                   0.0                   0.0

    Tractor Plow, Type 4  Tractor Plow, Type 5  Tractor Plow, Type 6  Dozer  \
0                    0.0                   0.0                   0.0    1.0
1                    0.0                   0.0                   0.0    0.0
2                    0.0                   0.0                   0.0    0.0
3                    0.0                   0.0                   0.0    1.0
4                    0.0                   0.0                   0.0    0.0
..                   ...                   ...                   ...    ...
95                   0.0                   0.0                   0.0    0.0
96                   0.0                   0.0                   0.0    2.0
97                   0.0                   0.0                   0.0    0.0
98                   0.0                   0.0                   0.0    0.0
99                   0.0                   0.0                   0.0    0.0

    Masticator
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
..         ...
95         0.0
96         0.0
97         0.0
98         0.0
99         0.0

[100 rows x 34 columns]

In [55]:
print(resources_quantity[types['crews']].sum(axis=1)[0:100])
print(resources_personnel[types['crews']].sum(axis=1)[0:100])

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
     ...
95    0.0
96    0.0
97    1.0
98    0.0
99    1.0
Length: 100, dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
95     0.0
96     0.0
97    20.0
98     0.0
99    10.0
Length: 100, dtype: float64

In [44]:
resources_sub = resources_all[types['engines']+['RESOURCE_QUANTITY', 'RESOURCE_PERSONNEL']]
print(resources_sub)

print(resources_all[types['engines']])
print(resources_all[types['engines']].sum(axis=1))

        Engine, Type 1  Engine, Type 2  Engine, Type 3  Engine, Type 4  \
0                  0.0             0.0             0.0             0.0
1                  0.0             0.0             0.0             0.0
2                  0.0             0.0             0.0             0.0
3                  0.0             0.0             0.0             0.0
4                  0.0             0.0             0.0             0.0
...                ...             ...             ...             ...
167743             0.0             0.0             0.0             0.0
167744             0.0             0.0             0.0             0.0
167745             0.0             0.0             0.0             0.0
167746             0.0             0.0             0.0             0.0
167747             0.0             0.0             0.0             0.0

        Engine, Type 5  Engine, Type 6  Engine, Type 7  RESOURCE_QUANTITY  \
0                  0.0             0.0             0.0                1.0
1                  0.0             0.0             0.0                NaN
2                  0.0             1.0             0.0                1.0
3                  0.0             0.0             0.0                1.0
4                  0.0             0.0             0.0                NaN
...                ...             ...             ...                ...
167743             0.0             0.0             0.0                1.0
167744             0.0             0.0             0.0                NaN
167745             0.0             1.0             0.0               13.0
167746             0.0             0.0             0.0                3.0
167747             0.0             0.0             0.0                3.0

        RESOURCE_PERSONNEL
0                      1.0
1                      0.0
2                      1.0
3                      1.0
4                      0.0
...                    ...
167743                 1.0
167744                 0.0
167745                21.0
167746                 3.0
167747                 4.0

[167748 rows x 9 columns]
        Engine, Type 1  Engine, Type 2  Engine, Type 3  Engine, Type 4  \
0                  0.0             0.0             0.0             0.0
1                  0.0             0.0             0.0             0.0
2                  0.0             0.0             0.0             0.0
3                  0.0             0.0             0.0             0.0
4                  0.0             0.0             0.0             0.0
...                ...             ...             ...             ...
167743             0.0             0.0             0.0             0.0
167744             0.0             0.0             0.0             0.0
167745             0.0             0.0             0.0             0.0
167746             0.0             0.0             0.0             0.0
167747             0.0             0.0             0.0             0.0

        Engine, Type 5  Engine, Type 6  Engine, Type 7
0                  0.0             0.0             0.0
1                  0.0             0.0             0.0
2                  0.0             1.0             0.0
3                  0.0             0.0             0.0
4                  0.0             0.0             0.0
...                ...             ...             ...
167743             0.0             0.0             0.0
167744             0.0             0.0             0.0
167745             0.0             1.0             0.0
167746             0.0             0.0             0.0
167747             0.0             0.0             0.0

[167748 rows x 7 columns]
0         0.0
1         0.0
2         1.0
3         0.0
4         0.0
         ...
167743    0.0
167744    0.0
167745    1.0
167746    0.0
167747    0.0
Length: 167748, dtype: float64

In [31]:
resources_sub = resources_all[['Overhead','Dozer','Engine, Type 6', 'RESOURCE_QUANTITY', 'RESOURCE_PERSONNEL']]

resources_sub['Number of Engine, Type 6'] = resources_sub['Engine, Type 6']*resources_sub['RESOURCE_QUANTITY']
resources_sub['Number of Engine, Type 6 Workers'] = resources_sub['Engine, Type 6']*resources_sub['RESOURCE_PERSONNEL']

resources_sub

,Overhead,Dozer,"Engine, Type 6",RESOURCE_QUANTITY,RESOURCE_PERSONNEL,"Number of Engine, Type 6","Number of Engine, Type 6 Workers"
0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
1,1.0,0.0,0.0,NaN,0.0,NaN,0.0
2,0.0,0.0,1.0,1.0,1.0,1.0,1.0
3,0.0,1.0,0.0,1.0,1.0,0.0,0.0
4,1.0,0.0,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...
167743,0.0,1.0,0.0,1.0,1.0,0.0,0.0
167744,1.0,0.0,0.0,NaN,0.0,NaN,0.0
167745,0.0,0.0,1.0,13.0,21.0,13.0,21.0
167746,0.0,1.0,0.0,3.0,3.0,0.0,0.0
167747,0.0,0.0,0.0,3.0,4.0,0.0,0.0