This code gets 2020 VIIRS data for Western  (30, -130, 50, -130, 50, -110, 30, -110, 30.01, -110)

In [8]:
import pandas as pd
#pd.set_option("display.max_rows", None, "display.max_columns", None)
from datetime import datetime, timedelta
import numpy as np

In [2]:
viirs_all = pd.read_csv('merged_viirs.csv', dtype = {'satellite': str,'version': str, 'type': str})
viirs_all

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,46.145030,-114.230690,301.50,0.40,0.60,2019-12-04,842,1,VIIRS,n,2.0NRT,266.30,1.30,N,NaN
1,42.689530,-111.592030,309.10,0.55,0.51,2019-12-04,842,1,VIIRS,n,2.0NRT,270.90,8.00,N,NaN
2,47.817650,-103.056590,296.60,0.42,0.38,2019-12-04,842,1,VIIRS,n,2.0NRT,269.20,0.60,N,NaN
3,45.846410,-105.521350,297.80,0.47,0.40,2019-12-04,842,1,VIIRS,n,2.0NRT,272.00,0.80,N,NaN
4,45.842090,-105.516050,306.40,0.47,0.40,2019-12-04,842,1,VIIRS,n,2.0NRT,272.00,2.20,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065362,39.142639,-121.509666,344.93,0.41,0.45,2020-12-31,2124,N,VIIRS,n,1,286.05,6.97,D,0.0
1065363,39.143078,-121.504829,328.83,0.41,0.45,2020-12-31,2124,N,VIIRS,n,1,284.42,4.39,D,0.0
1065364,38.063091,-121.160683,328.92,0.42,0.45,2020-12-31,2124,N,VIIRS,n,1,282.11,2.19,D,0.0
1065365,38.223763,-121.081375,325.87,0.42,0.46,2020-12-31,2124,N,VIIRS,n,1,280.99,2.84,D,0.0
1065366,42.285534,-120.333702,338.20,0.51,0.50,2020-12-31,2130,N,VIIRS,n,1,273.02,20.89,D,0.0

In [10]:
datestrings = [viirs_all['acq_date'].iloc[i]+ ' '+\
               str(int(viirs_all['acq_time'].iloc[i])).zfill(4) for i in range(len(viirs_all))]

print(datestrings[0:10])

['2019-12-04 0842', '2019-12-04 0842', '2019-12-04 0842', '2019-12-04 0842', '2019-12-04 0842', '2019-12-04 0842', '2019-12-04 0842', '2019-12-04 0842', '2019-12-04 0842', '2019-12-04 0842']

In [15]:
datetimes = [np.datetime64(datestrings[ii][0:10]+'T'+\
                         datestrings[ii][11:13]+':'+\
                         datestrings[ii][13:15] for ii in range(len(datestrings)))]

ValueError: Could not convert object to NumPy datetime